body {
    max-width: 1150px;
    width: 100%;
    margin: 0px auto;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 29pt;
    font-weight: normal;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: #17438E;
}

p, ul, th, td {
    font-family: "Open Sans", sans-serif;
}

p, ul {
    font-size: 13pt;
}

li {
    padding-bottom: 15px;
}