@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');

:root {
    --fusd-blue: #17438E;
    --fusd-grey: #EEEEEF;
    --background-blue: #E7F2FB;
}

.main-body {
    max-width: 1150px;
    width: 85%;
    margin: 0px auto;
}

h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 20pt;
    font-weight: bold;
    color: var(--fusd-blue);
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 16pt;
    font-weight: bold;
    color: var(--fusd-blue);
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 14pt;
    font-weight: bold;
    color: var(--fusd-blue);
}

p, ul, th, td {
    font-family: "Open Sans", sans-serif;
}

p, ul {
    font-size: 13pt;
}

li {
    padding-bottom: 15px;
}